[submodule "native"]
	path = native
	url = https://github.com/hrydgard/native.git 
[submodule "pspautotests"]
	path = pspautotests
	url = https://github.com/hrydgard/pspautotests.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/Orphis/FFmpeg.git
